{% macro render_field(field) %}
  {% if field.widget.input_type == 'checkbox' %}
  <div class="checkbox">
    <label>
      {{ field()|safe}} {{field.label.text|safe}}
    </label>
  </div>
  {% elif field.type == 'RadioField' %}

  {% elif field.type == 'SubmitField' %}
  <div class="row">
    <div class="medium-6 medium-centered columns">
      <div class="signup-button-form">
        {{field(class='button expand [radius round]')}}
      </div>
    </div>
  </div>

  {% else %}
  <div class="signup-form-subhead">{{ field.label }}</div>
  <div class="signup-input">{{ field(**kwargs)|safe }}</div>
  {% endif %}

  {% if field.errors %}
    <ul class="errors">
    {% for error in field.errors %}
      <li class="error-li">{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}

{% endmacro %}


