{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% from "auth/_form_helpers.html" import render_field %}

{% block title %}Password Reset{% endblock %}

{% block page_content %}
<div class="full-width signup-container">
  <div class="row collapsed">
    <div class="medium-8 medium-centered small-12 end columns">
      <div class="signup-message">
        Reset Your Password
      </div>
    </div>
  </div>

  <div class="row collapsed">
    <div class="medium-8 medium-centered small-12 end columns">
      <div class="signup-box">
        <form method="post" action="">
          <div class="row">
            <div class="medium-8 medium-centered columns">
              <div class="signup-form-right">
                {{ form.hidden_tag() }}
                {{ render_field(form.email) }}
              </div>
            </div>
          </div>
          {{ render_field(form.submit) }}
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}


